<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<nav th:fragment="gamebar" class="navbar navbar-expand-lg navbar-light" style="background-color: #f1f2f3">
    <tbody>
    <div style="background-color: white" class="d-flex">
        <div th:each="game : ${games}" class="d-block px-4 border-right border-dark game-div">
            <div class="d-flex align-items-center">
                <div th:text="${game.getFormattedStartTime()}" class=""></div><div class="pl-1" style="font-size: 16px">PM <inline style="font-size: 10px">CST</inline></div>
            </div>
            <div class="d-flex mt-1 mb-1">
                <img th:src="${game.getAwayTeamId.getLogoUrl}" alt="" style="width: 15px; height: auto">
                <div th:text="${game.getAwayTeamId.getAbbr}" class="pl-3 small"></div>
            </div>
            <div class="d-flex mt-1 mb-1">
                <img th:src="${game.getHomeTeamId.getLogoUrl}" alt="" style="width: 15px; height: auto">
                <div th:text="${game.getHomeTeamId.getAbbr}" class="pl-3 small"></div>
            </div>
        </div>
    </div>
    </tbody>

</nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script></script>
</html>