<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN PAGE</title>

<style>
  body {
    margin: 0px;
    border: 0px;
}

#sidebar {
    width: 300px;
    height: 556px;
    background: darkorange;
    float: left;
}
div {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: darkorange;
  }

ul li {
    padding: 15px;
    border-bottom: 2px solid grey;
}





</style>

</head>
<body>
    <div id="header">
        <img src="img/BasketballGurus.png" alt="adminLogo">
        <div>
            <text><B>Basketball Gurus ADMIN PANEL...Please return to MEMBER LOGIN PAGE!</B></text>
        </div>

    </div>
    <div id="sidebar">
        <ul>
            <li>Add User</li>
            <li>Delete User</li>
            <li>Update User</li>
            <li>Add Team</li>
            <li>Delete Team</li>
            <li>Update Team</li>
            <li>Add League</li>
            <li>Delete League</li>
            <li>Update League</li>
        </ul>

    </div>

</body>
</html>