<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Admin Page for Basketball Gurus</title>
</head>

<body>
<h1>ADMIN PAGE</h1>
<form th:action="@{/admin}" method="post">

        <h2>Admin Login</h2>
        <label for="userName">Username</label>
        <input id="userName" name="userName" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <input type="submit" value="Admin Log In" />





        <div th:if="${param.error}" class="alert alert-error">
            Invalid Admin Username and Password.
        </div>
    <br/>
        <div th:if="${param.logout}"class="alert alert-success">
            Your Admin Account has been logged out.
        </div>

</form>

</body>
</html>