<!--shamelessly swiped and modified from:-->
<!--https://www.pubnub.com/blog/realtime-live-chat-application-javascript-pubnub-10-lines-of-code/-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pubnub Chat Demo</title>
</head>
<body>
<h1>Pubnub Chat Demo</h1>

<h4>I am user:</h4>
<select id="chat_source">
  <option value="user1">Bob</option>
  <option value="user2">Sue</option>
  <option value="user3">Jimmy</option>
</select>

<h4>Chat with which user:</h4>
<select id="chat_target">
  <option value="user1">Bob</option>
  <option value="user2">Sue</option>
  <option value="user3">Jimmy</option>
</select>
<h4>Enter Chat and press enter:</h4>
<div>
  <input id=input placeholder="message" />
</div>

<h4>Chat Output:</h4>
<div id=box>

</div>

<script src=https://cdn.pubnub.com/sdk/javascript/pubnub.4.28.2.min.js></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossOrigin="anonymous"></script>

<script>
  "use strict";

  $(document).ready(function () {
    const pubnub = new PubNub({
      publishKey: 'pub-c-4cbe0f24-e11e-417b-be30-ad52854e40e5',
      subscribeKey: 'sub-c-78b3fd40-3b2b-11ec-b2c1-a25c7fcd9558'
    });

    const box = $("#box")[0],
            input = $("#input")[0];

    let channel = 'no-channel';

    pubnub.addListener({
      message: function(obj) {
        // console.log(obj);
        if(obj.channel === channel) {
          box.innerHTML = ('' + obj.message).replace(/[<>]/g, '') + '<br>' + box.innerHTML
        }
      }
    });

    function changeChannel() {
      pubnub.unsubscribe({
        channels: [channel]
      })
      const targetChannel = $("#chat_target").val();
      // console.log(targetChannel);

      channel = targetChannel;
      pubnub.subscribe({
        channels: [channel]
      });
      box.innerHTML = "";
    }

    changeChannel();

    $("#chat_target").change(() => {
      changeChannel();
    });

    input.addEventListener('keyup', function(event) {
      const keyPressed = event.key;
      if (keyPressed === "Enter") {
        let sourceUser = $("#chat_source option:selected").text();
        const messageText = sourceUser + " said: " + input.value;
        pubnub.publish({
          channel: channel,
          message: messageText,
          x: (input.value = '')
        });
      }
    });
  });

</script>

</body>
</html>