<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<style th:style="inline">



    body{
        background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("user/img/squad.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .card{
        background-color: rgba(239, 113, 11, 0.91);
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .container{
        display: flex;
        flex-direction: column;
        top: 400px;
    }
    ul{
        list-style-type: none;
        margin:0;
        padding:0;
    }



</style>
</head>
<body>

<nav th:replace="partials/game-bar.html :: gamebar"></nav>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<br>
<div class="container" style="width: 40rem">
    <div class="card" style="width: 40rem">
        <div class="card-body" style="width: 40rem">
            <div class="jumbotron text-center">

    <h1 class="display-4">Create your fantasy basketball team!</h1>
    <p class="lead">Search from the entire roster of NBA superstars and build the dream team you've always
    wanted. Player stats are updated in real time with their in game results!</p>
    <hr class="my-4">

                <ul class="list-style-type">
                    <li th:classappend="${module == 'Register' ? 'active' : ''}">
                        <a class="btn" th:href="@{/sign-up}">Register</a>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>

<br>

<div class="container" style="width: 40rem">
    <div class="card" style="width: 40rem">
        <div class="card-body" style="width: 40rem">
            <div class="jumbotron text-center">

        <h1 class="display-4">Play against your family and friends!</h1>
        <p class="lead">After you make your team join a League and invite your friends and family and compete against
        each other weekly for rewards!</p>
        <hr class="my-4">
                <ul>
                <li th:classappend="${module == 'Register' ? 'active' : ''}">
                    <a class="btn" th:href="@{/sign-up}">Register</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br>
<footer th:replace="partials/footer.html :: footer"></footer>
<!--<div class="container">
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <div class="jumbotron text-center">

                <h1 class="display-4">Customize your profile!</h1>
                <p class="lead">After you register you can add banners, profile pictures and even a bio so you can stand out against the competition!</p>
                <hr class="my-4">
                <p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Register!</a>

                </p>
            </div>
        </div>
    </div>
</div>-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>