<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>
<body>
<nav th:replace="partials/game-bar.html :: gamebar"></nav>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div th:text="${league.getLeagueName}">
    <div th:text="${leagueScores}"></div>
</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <td>Team Name</td>
        <div th:each="score : ${leagueScores.entrySet().iterator().next().getValue()}">
            <td th:each="week : ${score}">
                <div th:text="${week.getKey()}"></div>
            </td>
        </div>
    </tr>
    </thead>
    <tbody>
    <div th:each="roster : ${leagueScores}">
        <tr>
            <td th:text="${roster.getKey()}"></td>
            <td th:each="score : ${roster.getValue()}">
                <div th:text="${score.getValue()}"></div>
            </td>
        </tr>
    </div>
    </tbody>
</table>

</body>
</html>