<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visitor League Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style th:style="inline">

        body{
            background-image: url("user/img/squad.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
        }

    </style>

</head>
<body>
<nav th:replace="partials/game-bar.html :: gamebar"></nav>
<nav th:replace="partials/navbar.html :: navbar">

</nav>
<br>

<div class="container">
    <br>
<div class="jumbotron text-center" style="background-color: darkorange">

        <h1 class="display-4">Active Leagues!</h1>
        <p class="lead">This is the current list of Leagues that are currently going on right now.</p>
</div>
</div>

<div sec:authorize="isAnonymous()">




</div>



<div sec:authorize="isAuthenticated()">
    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create a League
        </button>
    </div>
</div>

<!-- Model -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a League</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/leagues/create}" th:method="league" th:object="${League}">
                    League PFP URL
                    <input th:field="*{leaguePfp}" />
                    <br />
                    League Name:
                    <input th:field="*{leagueName}" />
                    <br />
                    Start Date:
                    <input th:field="*{startDate}" />
                    <br />
                    End Date:
                    <input th:field="*{endDate}" />
                    <br />
                    League Difficulty
                    <input th:field="*{leagueDifficulty}" />
                    <br />
                    Password:
                    <input th:field="*{password}" />
                    <br />
                    <input type="submit" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
<table class="table table-dark">



    <thead>

    <tr>
        <th scope="col">League ID </th>
        <th scope="col">League Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Team Cost</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ID</td>
        <td>Eastern Conference</td>
        <td>TBD</td>
        <td>TBD</td>
        <td>3/15</td>
        <td th:classappend="${module == 'Register' ? 'active' : ''}">
        <a class="btn" th:href="@{/register}">Register</a>
        </td>

    </tr>
    <div th:each="league : ${leagues}">
        <tr>
            <td th:text="${league.getId()}"></td>
            <td th:text="${league.getLeagueName()}"></td>
            <td th:text="${league.getStartDate()}"></td>
            <td th:text="${league.getEndDate()}"></td>
            <td th:text="${league.getLeagueDifficulty()}"></td>
            <td th:classappend="${module == 'Register' ? 'active' : ''}">

        </tr>
    </div>
    </tbody>


</table>

</div>






</body>
</html>