<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<head>
    <meta charset="UTF-8">
    <title>LeagueSchedule</title>
</head>
<body>
<header>
    <nav th:replace="partials/navbar.html :: navbar">

    </nav>
</header>`
<div class="container">
    <div class="card justify-content-center align-content-center align-items-center">
<section class="Weekly Schedule">
    <header class="section-title">
        <h2>This weeks Games</h2>
    </header>
    <section class="schedule">
        <div id="sched-container">
            <div class="Weekly Game schedule">
                <h3 class="table-caption"> Monday</h3>
                <div class="responsive-table-wrap">
                    <table class=" schedule align-left" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="matchup">
                                <span>Matchup</span>
                            </th>
                            <th class="matchup"></th>
                            <th class="Time">
                                <span>TIME</span>
                                <span>UTC</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td class="awayTeam">
                                <a>
                                    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="homeTeam">
                                <a>
                                    <span>AT</span>    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="gameStart">
                                <a>
                                    <span>Time</span>
                                </a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="awayTeam">
                                <a>
                                    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="homeTeam">
                                <a>
                                    <span>AT</span><span>Team Name</span>
                                </a>
                            </td>
                            <td class="gameStart">
                                <a>
                                    <span>Time</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h3 class="table-caption"> Tuesday</h3>
                <div class="responsive-table-wrap">
                    <table class=" schedule align-left" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="matchup">
                                <span>Matchup</span>
                            </th>
                            <th class="matchup"></th>
                            <th class="Time">
                                <span>TIME</span>
                                <span>UTC</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td class="awayTeam" >
                                <a>
                                    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="homeTeam">
                                <a>
                                    <span>AT</span>    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="gameStart">
                                <a>
                                    <span>Time</span>
                                </a>
                            </td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h3 class="table-caption"> Wednesday</h3>
                <div class="responsive-table-wrap">
                    <table class=" schedule align-left" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="matchup">
                                <span>Matchup</span>
                            </th>
                            <th class="matchup"></th>
                            <th class="Time">
                                <span>TIME</span>
                                <span>UTC</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td class="awayTeam" >
                                <a>
                                    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="homeTeam">
                                <a>
                                    <span>AT</span>    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="gameStart">
                                <a>
                                    <span>Time</span>
                                </a>
                            </td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h3 class="table-caption"> Thursday</h3>
                <div class="responsive-table-wrap">
                    <table class=" schedule align-left" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="matchup">
                                <span>Matchup</span>
                            </th>
                            <th class="matchup"></th>
                            <th class="Time">
                                <span>TIME</span>
                                <span>UTC</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td class="awayTeam" >
                                <a>
                                    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="homeTeam">
                                <a>
                                    <span>AT</span>    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="gameStart">
                                <a>
                                    <span>Time</span>
                                </a>
                            </td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h3 class="table-caption"> Friday</h3>
                <div class="responsive-table-wrap">
                    <table class=" schedule align-left" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="matchup">
                                <span>Matchup</span>
                            </th>
                            <th class="matchup"></th>
                            <th class="Time">
                                <span>TIME</span>
                                <span>UTC</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td class="awayTeam" >
                                <a>
                                    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="homeTeam">
                                <a>
                                    <span>AT</span>    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="gameStart">
                                <a>
                                    <span>Time</span>
                                </a>
                            </td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h3 class="table-caption"> Saturday</h3>
                <div class="responsive-table-wrap">
                    <table class=" schedule align-left" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="matchup">
                                <span>Matchup</span>
                            </th>
                            <th class="matchup"></th>
                            <th class="Time">
                                <span>TIME</span>
                                <span>UTC</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td class="awayTeam" >
                                <a>
                                    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="homeTeam">
                                <a>
                                    <span>AT</span>    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="gameStart">
                                <a>
                                    <span>Time</span>
                                </a>
                            </td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h3 class="table-caption"> Sunday</h3>
                <div class="responsive-table-wrap">
                    <table class=" schedule align-left" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="matchup">
                                <span>Matchup</span>
                            </th>
                            <th class="matchup"></th>
                            <th class="Time">
                                <span>TIME</span>
                                <span>UTC</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td class="awayTeam" >
                                <a>
                                    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="homeTeam">
                                <a>
                                    <span>AT</span>    <span> Team Name</span>
                                </a>
                            </td>
                            <td class="gameStart">
                                <a>
                                    <span>Time</span>
                                </a>
                            </td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>