<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .container{
            margin-top: 100px;
        }
       .table{
           color: white;
       }
        body {
            background: #020202;
        }

    </style>
</head>
<body>
<nav th:replace="partials/game-bar.html :: gamebar"> </nav>
<nav th:replace="partials/navbar.html :: navbar"> </nav>

<div class="container">
    <form action="#" th:action="@{players}" method="post" class="input-group">
        <input class="form-control form-control-dark" type="text" placeholder="Search" name="search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-outline-light" value="Search">Search</button>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Team</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="player : ${players}">
        <tr>
            <td th:text="${(player.teamId.fullName)}"></td>
            <td th:text="${player.firstName}"></td>
            <td th:text="${player.lastName}"></td>
        </tr>
        </div>
        </tbody>
    </table>
        </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>